In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
data = pd.read_csv("titanic.csv")
data

,PassengerId,Name,Pclass,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,"Montvila, Rev. Juozas",2,male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,"Graham, Miss. Margaret Edith",1,female,19.0,0,0,112053,30.0000,B42,S,1
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
889,890,"Behr, Mr. Karl Howell",1,male,26.0,0,0,111369,30.0000,C148,C,1
890,891,"Dooley, Mr. Patrick",3,male,32.0,0,0,370376,7.7500,NaN,Q,0

In [2]:
data.head(10)

,PassengerId,Name,Pclass,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0
5,6,"Moran, Mr. James",3,male,NaN,0,0,330877,8.4583,NaN,Q,0
6,7,"McCarthy, Mr. Timothy J",1,male,54.0,0,0,17463,51.8625,E46,S,0
7,8,"Palsson, Master. Gosta Leonard",3,male,2.0,3,1,349909,21.0750,NaN,S,0
8,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",3,female,27.0,0,2,347742,11.1333,NaN,S,1
9,10,"Nasser, Mrs. Nicholas (Adele Achem)",2,female,14.0,1,0,237736,30.0708,NaN,C,1

In [3]:
data.tail(5)

,PassengerId,Name,Pclass,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
886,887,"Montvila, Rev. Juozas",2,male,27.0,0,0,211536,13.00,NaN,S,0
887,888,"Graham, Miss. Margaret Edith",1,female,19.0,0,0,112053,30.00,B42,S,1
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",3,female,NaN,1,2,W./C. 6607,23.45,NaN,S,0
889,890,"Behr, Mr. Karl Howell",1,male,26.0,0,0,111369,30.00,C148,C,1
890,891,"Dooley, Mr. Patrick",3,male,32.0,0,0,370376,7.75,NaN,Q,0

In [5]:
input=data.drop('Survived',axis='columns')
input

,PassengerId,Name,Pclass,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,"Montvila, Rev. Juozas",2,male,27.0,0,0,211536,13.0000,NaN,S
887,888,"Graham, Miss. Margaret Edith",1,female,19.0,0,0,112053,30.0000,B42,S
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,"Behr, Mr. Karl Howell",1,male,26.0,0,0,111369,30.0000,C148,C
890,891,"Dooley, Mr. Patrick",3,male,32.0,0,0,370376,7.7500,NaN,Q

In [6]:
target=data['Survived']
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [9]:
la_name =LabelEncoder()
la_gender	=LabelEncoder()
la_ticket=LabelEncoder()
la_cabin=LabelEncoder()
la_embarked=LabelEncoder()

In [10]:
input['name_n']=la_name.fit_transform(input['Name'])
input['gender_n']=la_gender.fit_transform(input['Gender'])
input['ticket_n']=la_ticket.fit_transform(input['Ticket'])
input['cabin_n']=la_cabin.fit_transform(input['Cabin'])
input['embarked_n']=la_embarked.fit_transform(input['Embarked'])

In [11]:
input

,PassengerId,Name,Pclass,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,name_n,gender_n,ticket_n,cabin_n,embarked_n
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,108,1,523,147,2
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,190,0,596,81,0
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,353,0,669,147,2
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,272,0,49,55,2
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,15,1,472,147,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,"Montvila, Rev. Juozas",2,male,27.0,0,0,211536,13.0000,NaN,S,548,1,101,147,2
887,888,"Graham, Miss. Margaret Edith",1,female,19.0,0,0,112053,30.0000,B42,S,303,0,14,30,2
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,413,0,675,147,2
889,890,"Behr, Mr. Karl Howell",1,male,26.0,0,0,111369,30.0000,C148,C,81,1,8,60,0
890,891,"Dooley, Mr. Patrick",3,male,32.0,0,0,370376,7.7500,NaN,Q,220,1,466,147,1

In [12]:
input_n=input.drop(['Name', 'Gender', 'Ticket', 'Cabin', 'Embarked'],axis='columns')
input_n

,PassengerId,Pclass,Age,SibSp,Parch,Fare,name_n,gender_n,ticket_n,cabin_n,embarked_n
0,1,3,22.0,1,0,7.2500,108,1,523,147,2
1,2,1,38.0,1,0,71.2833,190,0,596,81,0
2,3,3,26.0,0,0,7.9250,353,0,669,147,2
3,4,1,35.0,1,0,53.1000,272,0,49,55,2
4,5,3,35.0,0,0,8.0500,15,1,472,147,2
...,...,...,...,...,...,...,...,...,...,...,...
886,887,2,27.0,0,0,13.0000,548,1,101,147,2
887,888,1,19.0,0,0,30.0000,303,0,14,30,2
888,889,3,NaN,1,2,23.4500,413,0,675,147,2
889,890,1,26.0,0,0,30.0000,81,1,8,60,0
890,891,3,32.0,0,0,7.7500,220,1,466,147,1

In [13]:
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [14]:
from sklearn import tree
model=tree.DecisionTreeClassifier()

In [15]:
model.fit(input_n,target)

DecisionTreeClassifier()

In [18]:
import pandas as pd



input_data = [[1,	4,	40	,1,	0,	90.002,	120,	1,	600,	200,	1]]  # [age_group_n, bmi_category_n, family_history_n, glucose_level_n]

input_df = pd.DataFrame(input_data, columns=['PassengerId',	'Pclass',	'Age',	'SibSp',	'Parch',	'Fare',	'name_n',	'gender_n',	'ticket_n',	'cabin_n',	'embarked_n'])


prediction = model.predict(input_df)
print(prediction)

[0]

In [19]:
import pandas as pd




input_data = [[1,	3,	22.0	,1,	0,	7.2500,	108,	1,	523,	147,	2]]  # [age_group_n, bmi_category_n, family_history_n, glucose_level_n]

input_df = pd.DataFrame(input_data, columns=['PassengerId',	'Pclass',	'Age',	'SibSp',	'Parch',	'Fare',	'name_n',	'gender_n',	'ticket_n',	'cabin_n',	'embarked_n'])

prediction = model.predict(input_df)
print(prediction)

[0]

In [20]:
import pandas as pd




input_data = [[1,	3,	40	,1,	0,	100,	108,	1,	20,	50,	0]]  # [age_group_n, bmi_category_n, family_history_n, glucose_level_n]

input_df = pd.DataFrame(input_data, columns=['PassengerId',	'Pclass',	'Age',	'SibSp',	'Parch',	'Fare',	'name_n',	'gender_n',	'ticket_n',	'cabin_n',	'embarked_n'])

prediction = model.predict(input_df)
print(prediction)

[1]